/* CSS DE RUTH /*/
.btn-call{
	height: 50px;
	width: 180px;
	background: rgba(255,255,255,0.1);
	padding: 10px;
}
.tamano-rec{
	width: 100%;
	height: 200px;
	background-color: green;
}
.tamano-rec2{
	background-color: blue;
	height: 50px;
	width: 80px;
}


*{
	font-family: "open sans"
	}
#city{
	background-image: url(../img/background/city.jpg);
	background-repeat: no-repeat;
	position: center;
	background-size: 100%;
	height: 400px;


}
.boton-purchase{
	width: 40%;
}
.bg-oscuro{
	background-color: #212121
}
.bg-white{
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

.big{
	font-size: 30px;
}
.mg-2{
	margin: 1%;
}
.radius{
	border-radius: 50%;
	width: 15%
}
.opacar{
	background:rgba(0,0,0,0.4);
	height: 400px;
	width: 100%;
}
.aclarar{
	background-color:rgb(255, 255, 255, 0.6); 
}
.oscuro{
	color:#212121;
}
.RS{
	font-size: 35px;
}
#ContactUs{
	background-image: url(../img/background/contactus.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 750px;
}
.opacar-dos{
	width: 100%;
	height: 750px;
	background:rgba(0,0,0,0.4);
}

.address{
	font-size: 20px;
}
.input{
	width: 80%;
	opacity: 0.3;
}
.callTo{
	width: 10%;
	opacity: 0.3;

}
.bg-cian{
	background-color: #0dc0c0;
}
#submit_button{
	width: 30%;
	border: 0px;
	margin-left: -3%;
}
.pd-2{
	padding: 1%;
	margin-bottom: 2%;
}
.fuera{
	margin-bottom: 10%;
	position: center;
}
{
	
}